!Rofi color theme

!transparent colors enabled
rofi.color-enabled: true
rofi.color-window: argb:e0002b37 #002b37, #003642
rofi.color-normal: argb:002b37, #819396, argb:003643, #008ed4, #ffffff
rofi.color-active: argb:002b37, #008ed4, argb:003643, #008ed4, #66c6ff
rofi.color-urgent: argb:002b37, #da4281, argb:003643, #008ed4, #890661
rofi.separator-style: solid

!non-transparent values
!rofi.color-enabled: true
!rofi.color-window: #002b37, #002b37, #003642
!rofi.color-normal: #002b37, #819396, #003643, #008ed4, #ffffff
!rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
!rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661
!rofi.separator-style: solid

